<div class="container">
  <mat-card>
      <mat-card-title>Logowanie</mat-card-title>

      <form #forma action='api/v1/auth/login' method='POST'>
          <mat-form-field>
                <input matInput placeholder="Nazwa użytkownika" name="username" required>
          </mat-form-field>

          <mat-form-field>
                <input matInput type="password" placeholder="Hasło" name="password" required>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" class="btn btn-success" (click)="forma.submit()">Login</button>
      </form>

      <div class="actions">
          <a mat-button color="accent" href="/register">Zarejestruj się</a>
          <a mat-button color="primary" href="/oauth2/authorization/github">Zaloguj się przez GitHub</a>
          <a mat-button color="primary" href="/oauth2/authorization/google">Zaloguj się przez Google</a>
      </div>
  </mat-card>
</div>
