<div class="container">
    <mat-card>
      <mat-card-title>Rejestracja</mat-card-title>
  
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="Imie" [(ngModel)]="name" name="name" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Nazwisko" [(ngModel)]="surname" name="surname" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Nazwa użytkownika" [(ngModel)]="username" name="username" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password" placeholder="Hasło" [(ngModel)]="password" name="password" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password_retyped" placeholder="Powtórz hasło" [(ngModel)]="password_retyped" name="password_retyped" required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Zarejestruj się</button>
      </form>
  
      <div class="actions">
        <a mat-button color="accent" href="/login">Powrót do logowania</a>
      </div>
    </mat-card>
  </div>
  