.container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

mat-card {
    width: 400px;
    margin-top: 8px;
    padding: 8px;
    text-align: center;
    @media (max-width: 480px) {
        width: 100%;
    }
}

mat-form-field {
    width: 100%;
}

.actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
